<div class="container">

  <h1>Cocktails</h1>
  <ul>
    <% @cocktails.each do |cocktail|  %>
      <li>
        <div class="card"
          style="<%= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                 url('#{ cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill }')" if cocktail.photo.present? %>">
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
          <%= link_to "Delete", cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </li>
    <% end %>
  </ul>

  <%= link_to "Add New Cocktail", new_cocktail_path %>

</div>

